
:root{
  --color-white:#fff;
  --pointer:pointer;
  --color-black:#000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,ul{
  margin: 0;
  padding: 0;
}
img{
  display: block;
  width: 100%;
  object-fit: cover;
}


body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
 }
/* 
button{
  color: var(--color-white) !important;
  cursor: var(--pointer) !important;
} */

.container{
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

* {
	scrollbar-color: rgb(37, 56, 97) rgba(0, 0, 0, .7);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(211, 173, 48);
	border-radius: 2px;
}
::-webkit-scrollbar-track {
	background-color: rgba(207, 151, 29, 0.7);
}
::-webkit-scrollbar-corner {
	background-color: rgba(0, 0, 0, .7);	
}

